p {
  font-weight: 700;
}

.login-menu-wrapper {
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  float: right;
  z-index: 999;
  position: relative;
}