.cart-item-wrapper {
  margin: 0.5em 0.5em;
}

.cart-item-card {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.cart-item-card img {
  max-height: 100px;
  border-radius: 7px;
}

.card-info {
  margin-left: 0.5em;
  display: block;
  list-style-type: none;
}

.card-item-title {
  font-weight: 700;
  text-decoration: underline;
}